<div class='mt-4'>
  <h3>Sửa khóa học</h3>
  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class='mb-3'>
      <label for='name' class='form-label'>Name</label>
      <input name="name" value="{{course.name}}" class='form-control' id='name' />
    </div>
    <div class='mb-3'>
      <label for='description' class='form-label'>Mô tả</label>
      <input name="description" value="{{course.description}}" class='form-control' id='description' />
    </div>
    <div class='mb-3'>
      <label for='videoId' class='form-label'>Video Id</label>
      <input name="videoId" value="{{course.videoId}}" class='form-control' id='videoId' />
    </div>
    
    <button type='submit' class='btn btn-primary'>Sửa khóa học</button>
  </form>
</div> 